.BadgeComponent {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    font-size: small;
    min-width: 15px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: royalblue;
    border-color: darkblue;
    color: white;
}