.BalloonComponent {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    .Balloon {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        padding: 15px;
        padding-top: 0px;
        border: 1px solid;
        border-radius: 20px;
        min-width: 270px;
        min-height: 30px;

        .BalloonTitle {
            display: inline-block;
            width: 85%;
            font-weight: 550;
            padding-top: 10px;
        }
        .BalloonClose {
            display: inline-block;
            width: 15%;
            font-weight: bold;
            text-align: right;
            vertical-align: top;
            padding-top: 10px;
            cursor: pointer;
        }
        .BalloonContent {
            box-sizing: border-box;
            padding-top: 5px;
        }
    }

    .BalloonFloat {
        z-index: 3;
        position: absolute;
        animation: openBalloon 0.2s ease;
    }

    .BalloonFloat_Top {
        top: 15px;
    }

    .BalloonFloat_Bottom {
        bottom: 10px;
    }

    .BalloonFloat_Left {
        left: 30px;
        top: -25px;
    }

    .BalloonFloat_Right {
        right: 30px;
        top: -25px;
    }

    .BalloonArrow {
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
        }
    }

    .BalloonArrow_Right {
        &:after {
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            top: 11px;
            right: -20px;
        }
    }

    .BalloonArrow_Left {
        &:after {
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            top: 11px;
            left: -20px;
        }
    }

    .BalloonArrow_Top {
        &:after {
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            top: -20px;
            left: calc( 50% - 8px );
        }
    }

    .BalloonArrow_Bottom {
        &:after {
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            border-right-color: transparent !important;
            bottom: -20px;
            left: calc( 50% - 8px );
        }
    }

    @keyframes openBalloon {
        0% {
            opacity: 0;
            transform: scale(0)
        }
        100% {
            opacity: 1;
            transform: scale(1)
        }
    }
}