/* Column component styles */
.ColumnDiv {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 0;
    max-width: 100%;
}

/* config full */

.ColumnDivFull-1 {
    max-width: 5%;
    flex: 0 0 5%;
}

.ColumnDivFull-2 {
    max-width: 10%;
    flex: 0 0 10%;
}

.ColumnDivFull-3 {
    max-width: 15%;
    flex: 0 0 15%;
}

.ColumnDivFull-4 {
    max-width: 20%;
    flex: 0 0 20%;
}

.ColumnDivFull-5 {
    max-width: 25%;
    flex: 0 0 25%;
}

.ColumnDivFull-6 {
    max-width: 30%;
    flex: 0 0 30%;
}

.ColumnDivFull-7 {
    max-width: 35%;
    flex: 0 0 35%;
}

.ColumnDivFull-8 {
    max-width: 40%;
    flex: 0 0 40%;
}

.ColumnDivFull-9 {
    max-width: 45%;
    flex: 0 0 45%;
}

.ColumnDivFull-10 {
    max-width: 50%;
    flex: 0 0 50%;
}

.ColumnDivFull-11 {
    max-width: 55%;
    flex: 0 0 55%;
}

.ColumnDivFull-12 {
    max-width: 60%;
    flex: 0 0 60%;
}

.ColumnDivFull-13 {
    max-width: 65%;
    flex: 0 0 65%;
}

.ColumnDivFull-14 {
    max-width: 70%;
    flex: 0 0 70%;
}

.ColumnDivFull-15 {
    max-width: 75%;
    flex: 0 0 75%;
}

.ColumnDivFull-16 {
    max-width: 80%;
    flex: 0 0 80%;
}

.ColumnDivFull-17 {
    max-width: 85%;
    flex: 0 0 85%;
}

.ColumnDivFull-18 {
    max-width: 90%;
    flex: 0 0 90%;
}

.ColumnDivFull-19 {
    max-width: 95%;
    flex: 0 0 95%;
}

.ColumnDivFull-20 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Config Large */

@media( max-width: 1600px ) {
    .ColumnDivLarge-1 {
        max-width: 5%;
        flex: 0 0 5%;
    }
    
    .ColumnDivLarge-2 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    
    .ColumnDivLarge-3 {
        max-width: 15%;
        flex: 0 0 15%;
    }
    
    .ColumnDivLarge-4 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    
    .ColumnDivLarge-5 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .ColumnDivLarge-6 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    
    .ColumnDivLarge-7 {
        max-width: 35%;
        flex: 0 0 35%;
    }
    
    .ColumnDivLarge-8 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    
    .ColumnDivLarge-9 {
        max-width: 45%;
        flex: 0 0 45%;
    }
    
    .ColumnDivLarge-10 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .ColumnDivLarge-11 {
        max-width: 55%;
        flex: 0 0 55%;
    }
    
    .ColumnDivLarge-12 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    
    .ColumnDivLarge-13 {
        max-width: 65%;
        flex: 0 0 65%;
    }
    
    .ColumnDivLarge-14 {
        max-width: 70%;
        flex: 0 0 70%;
    }
    
    .ColumnDivLarge-15 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .ColumnDivLarge-16 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    
    .ColumnDivLarge-17 {
        max-width: 85%;
        flex: 0 0 85%;
    }
    
    .ColumnDivLarge-18 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    
    .ColumnDivLarge-19 {
        max-width: 95%;
        flex: 0 0 95%;
    }
    
    .ColumnDivLarge-20 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* Config Medium */

@media( max-width: 1024px ) {
    .ColumnDivMedium-1 {
        max-width: 5%;
        flex: 0 0 5%;
    }
    
    .ColumnDivMedium-2 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    
    .ColumnDivMedium-3 {
        max-width: 15%;
        flex: 0 0 15%;
    }
    
    .ColumnDivMedium-4 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    
    .ColumnDivMedium-5 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .ColumnDivMedium-6 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    
    .ColumnDivMedium-7 {
        max-width: 35%;
        flex: 0 0 35%;
    }
    
    .ColumnDivMedium-8 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    
    .ColumnDivMedium-9 {
        max-width: 45%;
        flex: 0 0 45%;
    }
    
    .ColumnDivMedium-10 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .ColumnDivMedium-11 {
        max-width: 55%;
        flex: 0 0 55%;
    }
    
    .ColumnDivMedium-12 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    
    .ColumnDivMedium-13 {
        max-width: 65%;
        flex: 0 0 65%;
    }
    
    .ColumnDivMedium-14 {
        max-width: 70%;
        flex: 0 0 70%;
    }
    
    .ColumnDivMedium-15 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .ColumnDivMedium-16 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    
    .ColumnDivMedium-17 {
        max-width: 85%;
        flex: 0 0 85%;
    }
    
    .ColumnDivMedium-18 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    
    .ColumnDivMedium-19 {
        max-width: 95%;
        flex: 0 0 95%;
    }
    
    .ColumnDivMedium-20 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* Config Tablet */

@media( max-width: 800px ) {
    .ColumnDivTablet-1 {
        max-width: 5%;
        flex: 0 0 5%;
    }
    
    .ColumnDivTablet-2 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    
    .ColumnDivTablet-3 {
        max-width: 15%;
        flex: 0 0 15%;
    }
    
    .ColumnDivTablet-4 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    
    .ColumnDivTablet-5 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .ColumnDivTablet-6 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    
    .ColumnDivTablet-7 {
        max-width: 35%;
        flex: 0 0 35%;
    }
    
    .ColumnDivTablet-8 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    
    .ColumnDivTablet-9 {
        max-width: 45%;
        flex: 0 0 45%;
    }
    
    .ColumnDivTablet-10 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .ColumnDivTablet-11 {
        max-width: 55%;
        flex: 0 0 55%;
    }
    
    .ColumnDivTablet-12 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    
    .ColumnDivTablet-13 {
        max-width: 65%;
        flex: 0 0 65%;
    }
    
    .ColumnDivTablet-14 {
        max-width: 70%;
        flex: 0 0 70%;
    }
    
    .ColumnDivTablet-15 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .ColumnDivTablet-16 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    
    .ColumnDivTablet-17 {
        max-width: 85%;
        flex: 0 0 85%;
    }
    
    .ColumnDivTablet-18 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    
    .ColumnDivTablet-19 {
        max-width: 95%;
        flex: 0 0 95%;
    }
    
    .ColumnDivTablet-20 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* Config Mobile */

@media( max-width: 640px ) {
    .ColumnDivMobile-1 {
        max-width: 5%;
        flex: 0 0 5%;
    }
    
    .ColumnDivMobile-2 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    
    .ColumnDivMobile-3 {
        max-width: 15%;
        flex: 0 0 15%;
    }
    
    .ColumnDivMobile-4 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    
    .ColumnDivMobile-5 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .ColumnDivMobile-6 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    
    .ColumnDivMobile-7 {
        max-width: 35%;
        flex: 0 0 35%;
    }
    
    .ColumnDivMobile-8 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    
    .ColumnDivMobile-9 {
        max-width: 45%;
        flex: 0 0 45%;
    }
    
    .ColumnDivMobile-10 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .ColumnDivMobile-11 {
        max-width: 55%;
        flex: 0 0 55%;
    }
    
    .ColumnDivMobile-12 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    
    .ColumnDivMobile-13 {
        max-width: 65%;
        flex: 0 0 65%;
    }
    
    .ColumnDivMobile-14 {
        max-width: 70%;
        flex: 0 0 70%;
    }
    
    .ColumnDivMobile-15 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .ColumnDivMobile-16 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    
    .ColumnDivMobile-17 {
        max-width: 85%;
        flex: 0 0 85%;
    }
    
    .ColumnDivMobile-18 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    
    .ColumnDivMobile-19 {
        max-width: 95%;
        flex: 0 0 95%;
    }
    
    .ColumnDivMobile-20 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}