/* Column component styles */
.ColumnDiv {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 0;
    max-width: 100%;
}

/* config full */
@for $i from 1 through 20 {
    .ColumnDivFull-#{$i} {
        max-width: ($i * 5%);
        flex: 0 0 ($i * 5%);
    }
}

/* Config Large */

@media( max-width: 1600px ) {
    @for $i from 1 through 20 {
        .ColumnDivLarge-#{$i} {
            max-width: ($i * 5%);
            flex: 0 0 ($i * 5%);
        }
    }
}

/* Config Medium */

@media( max-width: 1024px ) {
    @for $i from 1 through 20 {
        .ColumnDivMedium-#{$i} {
            max-width: ($i * 5%);
            flex: 0 0 ($i * 5%);
        }
    }
}

/* Config Tablet */

@media( max-width: 640px ) {
    @for $i from 1 through 20 {
        .ColumnDivTablet-#{$i} {
            max-width: ($i * 5%);
            flex: 0 0 ($i * 5%);
        }
    }
}

/* Config Mobile */

@media( max-width: 480px ) {
    @for $i from 1 through 20 {
        .ColumnDivMobile-#{$i} {
            max-width: ($i * 5%);
            flex: 0 0 ($i * 5%);
        }
    }
}