// Input text config
.inputTextDiv {
    height: 65px;
    .inputText {
        border-width: 1px;    
        border-style: solid;
        border-radius: 10px;
        height: 35px;
        min-width: 100px;
        width: calc( 100% - 10px );
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        display: block;
        box-sizing: border-box;
    }

    // validation colors
    .inputTextValid {
        border-color: $TextInputValid;
        &:focus {
            box-shadow: 0 0 3px $TextInputValid;
        }
    }

    .inputTextInvalid {
        border-color: $TextInputInvalid;
        &:focus {
            box-shadow: 0 0 3px $TextInputInvalid;
        }
    }    
    // validation text

    .inputTextValidation {
        font-size: small;
        padding-left: 20px;
        width: calc( 100% - 20px );
        margin-top: 5px;
        display: block;
        position: relative;
    }

    .inputTextValidationValid {
        color: $TextInputValid;
    }

    .inputTextValidationInvalid {
        color: $TextInputInvalid;
    }
}