//
//  Tooltip component styles
//
.ToolTip {
    position: relative;
    display: inline-block;
    &:hover .ToolTip_Text {
        visibility: visible;
        cursor: default;
    }
  
    .ToolTip_Text {
        visibility: hidden;
        min-width: 100px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        font-size: small;
        position: absolute;
        z-index: 5;
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;   
        }
    }

    .ToolTip_Text_Default {
        background-color: $ToolTip_Default;
        color: $ToolTip_Default_Text;
        &:after {
            border-color: $ToolTip_Default;
        }
    }

    .ToolTip_Text_Grey {
        background-color: $ToolTip_Grey;
        color: $ToolTip_Grey_Text;
        &:after {
            border-color: $ToolTip_Grey;
        }
    }

    .ToolTip_Text_Red {
        background-color: $ToolTip_Red;
        color: $ToolTip_Red_Text;
        &:after {
            border-color: $ToolTip_Red;
        }
    }

    .ToolTip_Text_Green {
        background-color: $ToolTip_Green;
        color: $ToolTip_Green_Text;
        &:after {
            border-color: $ToolTip_Green;
        }
    }

    .ToolTip_Text_Yellow {
        background-color: $ToolTip_Yellow;
        color: $ToolTip_Yellow_Text;
        &:after {
            border-color: $ToolTip_Yellow;
        }
    }

    .ToolTip_Text_Blue {
        background-color: $ToolTip_Blue;
        color: $ToolTip_Blue_Text;
        &:after {
            border-color: $ToolTip_Blue;
        }
    }

    .ToolTip_Text_Left {
        right: 110%;
        min-width: 100px;
        &:after {    
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            top: 3px;
            right: -19px;
        }
    }

    .ToolTip_Text_Right {
        left: 110%;
        &:after {
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            top: 3px;
            left: -19px;
        }
    }

    .ToolTip_Text_Top {
        top: -55px;
        left: 0;
        &:after {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            bottom: -20px;
            left: calc( 50% - 10px );
        }
    }

    .ToolTip_Text_Bottom {
        bottom: -60px;
        left: 0;
        &:after {
            border-right-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            top: -20px;
            left: calc( 50% - 10px );
        }
    }
}