/*
    Label component styles
*/
.withLabelDiv {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;    
    .labelRow {
        padding-top: 10px;
        min-height: 90px;
        box-sizing: border-box;
        .withLable_lable {            
            padding-bottom: 10px;
            min-height: 15px;
        }
    }    
    .inlineLabelRow {
        min-height: 60px;
        .withLable_lable_inline {
            vertical-align: middle;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 8px;        
        }
    }
}