.TabGroup {
    .TabGroupTabRow {
        .TabItem {
            border-color: $Menu_Border;
            background-color: $MainColor;
            color: $MenuTextColor;
            &:hover {
                background-color: $SecondaryColor;
            }
        }
        .SelectedTab {
            background-color: $SecondaryColor;
            border-bottom-color: $SecondaryColor;
        }
    }
    .TabGroupContentRow {
        border-color: $SecondaryColor;
    }
}