.TabGroup {
    .TabGroupTabRow {
        .TabItem {
            border-color: $Menu_Border;
            background-color: $MainColor;
            color: $MenuTextColor;
            &:hover {
                background-color: $SecondaryColor;
            }
        }
        .SelectedTab {
            background-color: $SecondaryColor;
            border-bottom-color: $SecondaryColor;
        }
    }

    .TabGroupTabRowCollapsed {
        border-color: $Menu_Border;
        background-color: $MainColor;
        color: $MenuTextColor;
    
        .TabMenuEntry {
            &:hover {
                background-color: $SecondaryColor;
            }
        }
    
        .TabEntrySelected{
            background-color: $SecondaryColor;
            box-shadow: 0px 1px 5px 1px $Menu_SubBorder;
        }
    
        .CollapsedTabMenu {
            border-color: $Menu_SubBorder;
            color: $Menu_SubText;
            background-color: $Menu_SubBackground;
    
            .CollapsedTabItem {
                &:hover {
                    background-color: $Menu_SubHover;
                    color: $MenuTextColor;
                }
            }
    
            .CollapsedTabSelected {
                background-color: $Menu_SubDisabled;
                color: $Menu_SubText;
                &:hover {
                    background-color: $Menu_SubDisabled;
                    color: $Menu_SubText;
                }
            }
    
            &::before {
                border-bottom-color: $Menu_SubBorder;            
            }
        }
    }

    .TabGroupContentRow {
        border-color: $SecondaryColor;
    }
}