.TabGroup {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 100%;
    .TabGroupTabRow {
        .TabItem {
            height: 45px;
            padding: 5px;
            border: 1px solid;
            max-width: 150px;
            text-align: center;
            border-radius: 15px 15px 0 0;
            margin-left: 2px;
            box-sizing: border-box;

            &:hover {
                transition: background-color 0.3s ease;
            }
        }
        .SelectedTab {
            border-width: 2px;
        }
    }
    .TabGroupContentRow {
        margin-left: 2px;
        padding: 10px;
        padding-top: 15px;
        border: 1px solid;
        height: calc(100% - 45px);
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
    }
}

.TabGroupTabRowCollapsed {
    margin-left: 2px;
    height: 45px;
    border: 1px black solid;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    text-align: center;

    .TabMenuEntry {
        position: relative;
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        border-radius: 25%;
        writing-mode: vertical-rl;

        &:hover {
            background-color: slategray;
        }
    }

    .TabEntrySelected{
        background-color: slategray;
    }

    .CollapsedTabMenu {
        position: absolute;
        top: 30px;
        min-width: 150px;
        border: 1px solid black;
        border-radius: 10px;
        color: black;
        background-color: white;
        z-index: 1;

        .CollapsedTabItem {
            padding: 5px;
            &:hover {
                background-color: teal;
                color: white;
            }

            &:first-child {
                border-radius: 10px 10px 0 0;
            }
            &:last-child {
                border-radius: 0 0 10px 10px;
            }
        }

        .CollapsedTabSelected {
            background-color: teal;
            color: white;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 8px;
            border-style: solid;
            border-right-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: black;
            top: -16px;
            left: 7px;        
        }
    }
}

@media ( max-width: 380px ) {
    .TabGroup {
        padding-left: 0;
        padding-right: 0;
    }
}