.TabGroup {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 100%;
    .TabGroupTabRow {
        .TabItem {
            height: 45px;
            padding: 5px;
            border: 1px solid;
            max-width: 150px;
            text-align: center;
            border-radius: 15px 15px 0 0;
            margin-left: 2px;
            box-sizing: border-box;

            &:hover {
                transition: background-color 0.3s ease;
            }
        }
        .SelectedTab {
            border-width: 2px;
        }
    }
    .TabGroupContentRow {
        margin-left: 2px;
        padding: 10px;
        padding-top: 15px;
        border: 1px solid;
        height: calc(100% - 45px);
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
    }
}

@media ( max-width: 380px ) {
    .TabGroup {
        padding-left: 0;
        padding-right: 0;
    }
}