.menuRow {
    .collapsedMenuGroup {
      background-color: $Menu_Background;
      .collapsedMenuItem {
        border-bottom-color: $Menu_Border;
        &:hover {
          background-color: $Menu_SubHover;
        }
      }
  
      .collapsedMenuLinkSelected {
        background-color: $Menu_MenuSubOpen;
      }

      .collapsedMenuItemSelected {
        background-color: $Menu_MenuSubOpen;
        .collapsedSubMenuGroup {
          background-color: $Menu_SubBackground;
          color: $TextColor;
          .collapsedSubMenuItem {
            &:hover {
              background-color: $Menu_SubTextHover;
            }
          }
          .disabledMenuItem {    
            background-color: $Menu_SubDisabled;
            &:hover {
              background-color: $Menu_SubDisabled;
            }
          }
        }
        &:hover {
          background-color: $Menu_MenuSubOpen;
        }
        &:after {
          border-bottom-color: $Menu_SubBackground;
        }
      }
      &:after {
          border-bottom-color: $SecondaryColor;
      }
    }

    .loginMenuDrop{
      border-color: $Menu_SubBorder;
      background-color: $SecondaryColor;
      &:after {
        border-bottom-color: $Menu_SubBorder;
      }
    }

    .subMenuLine {
      border-color: $Menu_SubSeparator;
    }

    .loginMenuCollapsed {
      background-color: $Menu_Background;
      &:after {
        border-bottom-color: $Menu_Background;
      }
    }

    .menuItemColSel {
        border-color: $Menu_Border;
        background-color: $Menu_Background;
        box-shadow: 0 0 4px $Menu_SubBorder;
    }
    .menuItemCol {
      &:hover {
          border-color: $Menu_Border;
          background-color: $Menu_Background;
      }
      .menuSpan {
        &:focus {
          box-shadow: 0 0 4px $Menu_SubBorder;
        }
      }
    }

    .menuLanguageCol {
      & span {
          &:hover {
              border-color: $Menu_Border;
              background-color: $Menu_Background;
          }
      }
    }
    .menuBrand {
      &:hover {
          background-color: transparent;
      }
    }

    .subMenuDrop {
      background-color: $Menu_SubBackground;
      color: $Menu_SubText;
      border-color: $Menu_SubBorder;
      &:after {
          border-bottom-color: $Menu_SubBorder;
      }
      .subMenuCol {
          &:hover {
            background-color: $Menu_SubHover;
            color: $Menu_SubTextHover;
          }
      }

      .disabledMenuItem {    
        background-color: $Menu_SubDisabled;
        &:hover {
            background-color: $Menu_SubDisabled;
            color: $Menu_SubText;
        }
      }

      .subMenuReloadable:hover {
        background-color: $Menu_SubHover;
        color: $Menu_SubTextHover;
      }
    }

    .MenuNotifications {
      .BadgeComponent {
        .Notification_Badge_Clicked {
          background-color: $Button_Hover;
          color: $Button_Text_Hover;
        }
      }
      .NotificationsDropArrow {
        border-bottom-color: $Menu_SubBorder;
      }
      .NotificationsDrop {
        border-color: $Menu_SubBorder;
        color: $Menu_Border;
        background-color: $Menu_NotificationBg;
        .NotificationHeader {
          border-bottom-color: $Menu_Border;
        }
        .NotificationItem {
          border-bottom-color: $Menu_Border;
          .NotificationOlderLink {
            color: $Menu_Border;
          }
        }
        .NotificationItemNew {
          background-color: $Menu_NotificationBgNew
        }
        .NotificationItemDel {
          .NotificationItemCross {
            &:hover {
              color: $LinkColor;
            }
          }
        }
      }
    }
}

.PageMenuColor {
  background-color: $MainColor;
  color: $MenuTextColor;
}