// ----------------------------------
// ------- Layout Dimension ---------
// ----------------------------------

.PageLayout {
  width: 100%;
  min-width: 100%;

  .PageMenu{
    box-sizing: border-box; 
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 40px;
  }

  .PageContent {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 55px;
    width: calc( 100% - 50px);
    min-height: calc( 100vh - 115px );
    & .ContentLoader {
      min-height: calc( 100vh - 130px );
      display: flex;
    } 
  }

  .PageFooter {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }
}