.ModalWrapper {
    background-color: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10000;
    animation: fadeInModal 0.3s ease;

    .ModalContent {
        position: absolute;
        background-color: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10001;
        padding: 15px;
        padding-top: 20px;
        width: 60%;
        height: 50%;
        min-width: 600px;
        min-height: 400px;
        border-radius: 10px;

        .ModalClose {
            width: 15px;
            height: 15px; 
            position: absolute;
            right: 0; 
            top: 0;
            margin: 10px;
            font-size: large;
            font-weight: bold; 
            cursor: pointer;
            z-index: 10002;
        }    

        .Modal_Icon {
            box-shadow: 0px 2px 5px 0px lightgray;
            height: 130px;
            width: 130px;
            text-align: center;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            left: 50%;
            margin-left: -65px;
            z-index: 10003;
            .Modal_Icon_Img {
                margin: 10px;
                width: 110px;
                height: 110px;
                border-radius: 25px;
                box-sizing: border-box;
            }
        }

        .Modal_Language {
            position: absolute;
            right: 85px;
            top: 5px;
            z-index: 10005;
        }

        .Modal_Language_Close {
            right: 120px;
        }
    
    }

    .ModalContent_Icon {
        padding-top: 50px;
        .Modal_Icon {
            top: -70px;
        }
    }

    .ModalContentSmall_Icon {
        padding-top: 35px;
        .Modal_Icon {
            top: -85px;
        }
    }

    .ModalContentBig_Icon {
        padding-top: 75px;
        .Modal_Icon {
            top: -40px;
        }
    }

    .ModalContentLong_Icon {
        padding-top: 75px;
        .Modal_Icon {
            top: -40px;
        }
    }

    .ModalContentSmall {
        width: 40%;
        height: 40%;
        min-width: 400px;
        min-height: 300px;
    }

    .ModalContentBig {
        width: 80%;
        height: 80%;
        min-width: 800px;
        min-height: 600px;
    }

    .ModalContentLong {
        width: 60%;
        height: 80%;
        min-width: 600px;
        min-height: 600px;
    }
}

.ModalWrapperOpaque {
    background-color: #000;
}

.ModalWrapperOpaqueWhite {
    background-color: #FFF;
}

.ModalWrapperWhite {
    background-color: rgba(255, 255, 255, 0.85);
}

@media ( max-width: 1440px )
{
    .ModalWrapper {    
        .ModalContent {
            width: 60%;
            height: 50%;
        }
    
        .ModalContentSmall {
            height: 40%;
            width: 46%;
        }

        .ModalContentBig {
            height: 80%;
            width: 86%; 
            min-width: 0;
        }

        .ModalContentLong {
            height: 80%;
            width: 66%;
            min-width: 600px;
            min-height: 600px;
        }
    }
}

@media ( max-width: 768px )
{
    .ModalWrapper {    
        .ModalContent {
            height: 50%;
            width: 100%;
            min-width: 0;
        }
    
        .ModalContentSmall {
            height: 50%;
            width: 100%;
            min-width: 0;
        }
    
        .ModalContentBig {
            height: 88%;
            width: 100%;; 
            min-width: 0;
        }
    
        .ModalContentLong {
            height: 84%;
            width: 100%; 
            min-width: 0;
        }
    }
}

@media ( max-width: 540px )
{
    .ModalWrapper {    
        .ModalContent {
            height: 70%;
            width: 100%;
            min-width: 0;
        }
    
        .ModalContentSmall {
            height: 50%;
            width: 100%;
            min-width: 0;
        }
    
        .ModalContentBig {
            height: 88%;
            width: 100%; 
            min-width: 0;
        }
    
        .ModalContentLong {
            height: 90%;
            width: 100%;
            min-width: 0;
        }
    }
}

@keyframes fadeInModal {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}