
//
//Test page styles
//
.TestApp {
  .TestPageStuff {
    margin-top: 20px;
    width: 100%;
    text-align: left;
  }
  .TestButtonCol{
    max-width: 16.66%;
    min-width: 135px;
    .TestButtons {
      max-width: 100px;
      margin: 5px;
    }
  }
  .TestTabGroup {
    height: 100%;
  }

  .ModalTest {
    .ModalTest_Col {
      min-height: 120px;
      min-width: 80px;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }
}