.BadgeComponent {
    display: inline-block;
    .ToolTip {
        .ToolTip_Text_Left {
            margin-right: 5px;
        }

        .ToolTip_Text_Top {
            margin-left: -32px;
        }

        .ToolTip_Text_Bottom {
            margin-left: -12px;
        }
    }
    .BadgeComponent_Inner {
        display: inline-block;
        padding: 5px;
        border: 1px solid;
        border-radius: 10px;
        font-size: small;
        min-width: 15px;
        max-width: 50px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        &:hover {
            transition: background-color 0.3s ease;
        }
    }

    .BadgeComponentColor_Danger {
        background-color: $Button_Danger_Main;
        border-color: $Button_Danger_Secondary;
        color: $Button_Danger_Text;
    }
    .BadgeComponentColorClick_Danger {
        &:hover {
        background-color: $Button_Danger_Secondary;
        color: $Button_Danger_Text_Hover;
        }
    }

    .BadgeComponentColor_Warning {
        background-color: $Button_Warning_Main;
        border-color: $Button_Warning_Secondary;
        color: $Button_Warning_Text;
    }
    .BadgeComponentColorClick_Warning {
        &:hover {
        background-color: $Button_Warning_Secondary;
        color: $Button_Warning_Text_Hover;
        }
    }

    .BadgeComponentColor_Confirmation {
        background-color: $Button_Confirmation_Main;
        border-color: $Button_Confirmation_Secondary;
        color: $Button_Confirmation_Text;
    }
    .BadgeComponentColorClick_Confirmation {
        &:hover {
        background-color: $Button_Confirmation_Secondary;
        color: $Button_Confirmation_Text_Hover;
        }
    }

    .BadgeComponentColor_Information {
        background-color: $Button_Information_Main;
        border-color: $Button_Information_Secondary;
        color: $Button_Information_Text;
    }
    .BadgeComponentColorClick_Information {
        &:hover {
        background-color: $Button_Information_Secondary;
        color: $Button_Information_Text_Hover;
        }
    }

    .BadgeComponentColor_Cancelation {
        background-color: $Button_Cancelation_Main;
        border-color: $Button_Cancelation_Secondary;
        color: $Button_Cancelation_Text;
    }
    .BadgeComponentColorClick_Cancelation {
        &:hover {
        background-color: $Button_Cancelation_Secondary;
        color: $Button_Cancelation_Text_Hover;
        }
    }
}