.FileDownloader {
    position: relative;
    min-height: 50px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
    .FileDownloaderContent {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding-bottom: 10px;
        vertical-align: middle;
        min-height: inherit;
        width: 100%;
        &:after{
            content: '';
            display: inline-block;
            width: 0px;
            min-height: inherit;
            vertical-align: middle;
        }
        .FileIcon {
            position: relative;
            display: inline-block;
            width: 55px;
            text-align: center;
            padding-right: 5 px;
            vertical-align: middle;
            .IconDot {
                border: 6px solid;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                box-sizing: border-box;
                margin: auto;
            }
            .FileNameCancel {
                position: relative;
                text-align: center;
                width: 55px;
                cursor: pointer;
                font-size: xx-small;
                margin-bottom: -15px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .FileName {
            position: relative;
            display: inline-block;
            width: calc( 100% - 60px );
            text-align: left;
            vertical-align: middle;
            .FileNameText {
                display: inline-block;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .FileSizeText {
                display: block;
                width: 100%;
                font-size: x-small;
                color: gray;
            }
        }
    }

    .ContentWithLine {
        border-bottom: 1px solid;
    }
}