.Modal_Generic {
    height: 100%;
    box-sizing: border-box;
    .Modal_Generic_Col {
        min-height: 100%;
        max-height: 100%;
        .Modal_Header {
            height: 20%;
            max-height: 20%;
            font-size: xx-large;
            font-weight: bold;
            padding-left: 20px;
            padding-top: 10px;
            box-sizing: border-box;
            overflow-y: hidden;
        }
        .Modal_Content {
            box-sizing: border-box;
            height: 60%;
            max-height: 60%;
            padding: 15px;
            overflow: hidden;
        }
        .Modal_Content_Scroll {
            overflow-y: scroll;
        }
        .Modal_Footer {
            box-sizing: border-box;
            border-top: 1px solid lightgrey;
            height: 20%;
            padding-top: 15px;
            overflow-y: hidden;
        }
        .Modal_Footer_Centered {
            text-align: center;
        }
    }
}