//
//  Tooltip component styles
//
.ToolTip {
    position: relative;
    display: inline-block;
    &:hover .ToolTip_Text {
        visibility: visible;
        animation: openLabel 0.2s ease;
        cursor: default;
    }
  
    .ToolTip_Text {
        visibility: hidden;
        min-width: 100px;
        max-width: 175px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        font-size: small;
        position: absolute;
        z-index: 5;
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;   
        }
    }

    .ToolTip_Text_Default {
        background-color: $ToolTip_Default;
        color: $ToolTip_Default_Text;
        &:after {
            border-color: $ToolTip_Default;
        }
    }

    .ToolTip_Text_Grey {
        background-color: $ToolTip_Grey;
        color: $ToolTip_Grey_Text;
        &:after {
            border-color: $ToolTip_Grey;
        }
    }

    .ToolTip_Text_Red {
        background-color: $ToolTip_Red;
        color: $ToolTip_Red_Text;
        &:after {
            border-color: $ToolTip_Red;
        }
    }

    .ToolTip_Text_Green {
        background-color: $ToolTip_Green;
        color: $ToolTip_Green_Text;
        &:after {
            border-color: $ToolTip_Green;
        }
    }

    .ToolTip_Text_Yellow {
        background-color: $ToolTip_Yellow;
        color: $ToolTip_Yellow_Text;
        &:after {
            border-color: $ToolTip_Yellow;
        }
    }

    .ToolTip_Text_Blue {
        background-color: $ToolTip_Blue;
        color: $ToolTip_Blue_Text;
        &:after {
            border-color: $ToolTip_Blue;
        }
    }

    .ToolTip_Text_Left {
        top: 0px;
        right: 110%;
        min-width: 100px;
        &:after {    
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            top: 3px;
            right: -19px;
        }
    }

    .ToolTip_Text_Right {
        top: 0px;
        left: 115%;
        &:after {
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            top: 3px;
            left: -19px;
        }
    }

    .ToolTip_Text_Top {
        bottom: calc(100% + 10px);
        margin: auto;
        &:after {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            bottom: -18px;
            left: calc( 50% - 10px );
        }
    }

    .ToolTip_Text_Bottom {
        top: calc(100% + 10px);
        left: -50%;
        right: -50%;
        margin: auto;
        &:after {
            border-right-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            top: -18px;
            left: calc( 50% - 10px );
        }
    }
    @keyframes openLabel {
        0% {
            opacity: 0;
            transform: translateY(-20px) scaleY(0.5)
        }
        100% {
            opacity: 1;
            transform: translateY(0) scaleY(1)
        }
    }
}