
/*
  Test page styles
*/

.searchBox {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .table {
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    text-align: center;
  }
  
  .resultTable {  
    border: 2px solid black;
    padding: 10px;
    vertical-align: middle;
    border-top: 0px;
  }
  
  .resultTable:nth-child( odd ) {
    background-color: #909090;
    opacity: 0.8;
  }
  
  .resultTable:nth-child( even ) {
    background-color: #bfbfbf;
    opacity: 0.8;
  }
  
  .tableHeader {
    background-color: black !important;
    color: white !important;
    opacity: 0.8;
    border-top: 2px solid black;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
  }
  
  .resultTable:nth-last-child(2) {
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
  }
  
  .tableHide {
    margin-left: calc( 50% - 50px );
    margin-right: calc( 50% - 50px );
    width: 100px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid black;
    border-top: 0px;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    cursor: pointer;
    color: black;
    background-color: gray;
  }

  .tableHideToolTip {
    margin-left: calc( 50% - 50px );
    margin-right: calc( 50% - 50px );
    width: 100px;
    height: 25px;
  }
  
  .tableHide:hover {
    background-color: black;
    color: white;
  }
  
  .header {
    font-weight: bolder !important;
    text-align: center !important;
  }
  
  .leftCol {
    border-right: 1px dotted black;
    font-weight: bold;;
    width: calc( 30% - 11px );
    height: 100%;
    display: inline-block;
  }
  
  .rightCol {
    width: calc( 70% - 40px );
    height: 100%;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .tableBottom {
    margin-top: 20px;
    width: 100%;
    text-align: left;
  }