   // ---- General colors ----
  
    // Page Menu

    .menuRow {
      .menuItemColSel {
          border-color: $Menu_Border;
          background-color: $Menu_Background;
          &:focus {
            box-shadow: 0 0 4px $Menu_SubBorder;
          }
      }
      .menuItemCol {
        &:hover {
            border-color: $Menu_Border;
            background-color: $Menu_Background;
        }
      }

      .menuLanguageCol {
        & span {
            &:hover {
                border-color: $Menu_Border;
                background-color: $Menu_Background;
            }
        }
      }
      .menuBrand {
        &:hover {
            background-color: transparent;
        }
      }

      .subMenuDrop {
        background-color: $Menu_SubBackground;
        color: $Menu_SubText;
        border-color: $Menu_SubBorder;
        &:after {
            border-bottom-color: $Menu_SubBorder;
        }
        .subMenuCol {
            &:hover {
              background-color: $Menu_SubHover;
              color: $Menu_SubTextHover;
            }
        }

        .subMenuLine {
          border-color: $Menu_SubSeparator;
        }

        .disabledMenuItem {    
          background-color: $Menu_SubDisabled;
          &:hover {
              background-color: $Menu_SubDisabled;
              color: $Menu_SubText;
          }
        }
      }
    }
    // Page Menu

    // Page Selector
    .PageSelector_Highlight {
        color: $LinkColor;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      // Page Selector
    
      // Load Spinner
      .LoadSpinnerColor {
        border-top-color: $MainColor;
        border-bottom-color: $MainColor;
        border-left-color: $SecondaryColor;
        border-right-color: $SecondaryColor;
      }
      // Load Spinner
    
      // Button Component
      .page_button_color {
        border-color: $MainColor;
        background: $Button;
        color: $Button_Text;
        &:hover {
          background: $Button_Hover;
          color: $Button_Text_Hover;
        }
        &:focus {
          box-shadow: 0 0 4px $Button;
        }
      }
      // Button Component
    
      // Input Text
      .inputTextDiv {
        .inputText_Color {
          border-color: $Input_Border;
          &:focus {
            box-shadow: 0 0 3px $Input_Focus;
          }
        }
      }
      // Input Text
  
      // ---- Menu and Footer Colors ----
      .PageMenuColor {
        background-color: $MainColor;
        color: $MenuTextColor;
      }
    
      // ---- Content Colors ----
      .PageContentColor {
        // -- All Content --
        color: $TextColor;
        
        // Table Component
        .TableDiv {
          .TableContent {
            .TableHeaderCellColor {
              background-color: $MainColor;
              color: $Table_Header_Text;
            }
          }
        }
        // Table Component

        // Card Component
        .CardComponent {
          border-color: $CardBorderColor;
          background-color: $CardBackground;
          .CardFooter {
            border-top-color: $CardBorderColor;
            .CardFooterRight {
              border-left-color: $CardBorderColor;
            }
          }
        }
        // Card Component

        // Page Header
        .PageHeaderDiv {
          border-bottom-color: $MainColor;
          color: $MainColor;
        }
        // Page Header
        // Page Side Menu
        .SideMenuPage {
          .SideMenuColumn {    
              .SideMenuColumnContent {
                  border-color: $MainColor;

                  .SideMenuTitle {
                      border-bottom-color: $MainColor;
                      background-color: $MainColor;
                      color: $MenuTextColor;

                      .SideMenuTitleText{
                        span:hover {
                          color: $SecondaryColor;
                        }
                      }
    
                    .SideMenuTitleCollapse {
                      span:hover {
                        color: $SecondaryColor;
                      }
                    }
                  }
      
                  .SideMenuContent {
                    .SideMenuMenu:hover {
                        color: $SecondaryColor;
                      }
                      .SubMenuSubMenu span:hover {
                          color: $LinkColor;
                      }
                      .SideMenuSelectedSubMenu {
                          color: $MainColor;
                      }
                  }
              }
          }
        }
        // Page Side Menu
        // FieldSet
        .FieldSetTitle {
          color: $MainColor;
        }
        
        .FieldSetContent {
            border-color: $SecondaryColor;
        }
        // FieldSet

        // DatePicker
        .DatePickerDiv {
          .DatePickerCalendar {
              border-color: $DatePicker_Border;
              .DatePickerRow {
                  &:first-child {
                      background-color: $MainColor;
                  }
                  .DatePickerDay{
                      background-color: $SecondaryColor;
                      color: $TextColor;
                  }
                  .DatePickerSelectable {
                    &:hover {
                      background-color: $DatePicker_DaySelect;
                      color: $DatePicker_LinkColor;
                    }
                  }
                  .DatePickerWeek{
                      color: $DatePicker_Header_Text;
                      background-color: $MainColor;
                  }
                  .DatePickerHeader {
                      color: $DatePicker_Header_Text;
                      background-color: $MainColor;
                      .DatePickerArrow {
                          &:hover {
                              color: $DatePicker_LinkColor;
                          }
                      }
                      .DatePickerText {
                          &:hover {
                              color: $DatePicker_LinkColor;
                          }
                      }
                      .DatePickerTextSelected {
                          color: $DatePicker_LinkColor;
                      }
                      .DatePickerSelector {
                          background-color: $SecondaryColor;
                          border-color: $DatePicker_Border;
                          .DatePickerSelectorField {
                              background-color: $MainColor;
                              &:hover {
                                  background-color: $SecondaryColor;
                              }
                          }
                          .DatePickerSelectorSelected {
                              background-color: $SecondaryColor;
                          }
                      }
                  }
                  .DatePickerDisabled {
                      color: $DatePicker_Disabled_Text;
                      background-color: $DatePicker_Disabled;
                  }
                  .DatePickerSelected {
                      background-color: $MainColor;
                      color: $DatePicker_Selected_Text;
                  }
              }
          }
          .DatePickerInputGroup {
              border-color: $DatePicker_Border;
              .DatePickerButton {
                  &:hover {
                      color: $LinkColor;
                  }
              }
          }
      }
      //DatePicker
    }