/* ------------- Blue --------------- */
.PageLayoutColor_Blue {

/*-------------- Blue Colors ---------------*/
$MainColor: #062133;
$SecondaryColor: #447596;
$MenuTextColor: #ffffff;
$TextColor: #041825;
$LinkColor: #226ea0;

$Button: #092e47;
$Button_Text: #ffffff;
$Button_Hover: #447596;
$Button_Text_Hover: #ffffff;

$Input_Border: #062133;
$Input_Focus: #447596;

$Table_Header_Text: #ffffff;

$CardBorderColor: #062133;
$CardBackground: #e2f2ff71;

$DatePicker_Border: #0c3550;
$DatePicker_DaySelect: #014877;
$DatePicker_Header_Text: #FFFFFF;
$DatePicker_LinkColor: #85b7d8;
$DatePicker_Disabled_Text: #333c42;
$DatePicker_Disabled: #708391;
$DatePicker_Selected_Text: #FFFFFF;
/*------------------------------------------*/
  @import "./ThemeTree";
}
/*------------------------------------*/