// ------------- Green -----------------------
.PageLayoutColor_Green {
  //------------- Green Colors ---------------
  $MainColor: #08583e;
  $SecondaryColor: #469b80;
  $MenuTextColor: #ffffff;
  $TextColor: #001a12;
  $LinkColor: #0c6d4e;

  $Button: #0c6d4e;
  $Button_Text: #ffffff;
  $Button_Hover: #469b80;
  $Button_Text_Hover: #ffffff;

  $Input_Border: #08583e;
  $Input_Focus: #469b80;

  $Table_Header_Text: #ffffff;

  $CardBorderColor: #08583e;
  $CardBackground: #eeffeb7a;

  $DatePicker_Border: #21493c;
  $DatePicker_DaySelect: #057552;
  $DatePicker_Header_Text: #FFFFFF;
  $DatePicker_LinkColor: #92ebcf;
  $DatePicker_Disabled_Text: #3c534c;
  $DatePicker_Disabled: #8bc0af;
  $DatePicker_Selected_Text: #FFFFFF;
  //------------------------------------------
   @import "./ThemeTree";
 }
 //-------------------------------------------