// ------------- Grey ------------------------
.PageLayoutColor_Grey {
  //-------------- Grey Colors ---------------
  $MainColor: rgb(49, 49, 49);
  $SecondaryColor: rgb(160, 160, 160);
  $MenuTextColor: rgb(255, 255, 255);
  $TextColor: rgb(29, 29, 29);
  $LinkColor: rgb(77, 77, 77);

  $Button: rgb(77, 77, 77);
  $Button_Text: rgb(255, 255, 255);
  $Button_Hover: rgb(160, 160, 160);
  $Button_Text_Hover: rgb(255, 255, 255);

  $Input_Border: rgb(49, 49, 49);
  $Input_Focus: rgb(160, 160, 160);

  $Table_Header_Text: rgb(255, 255, 255);

  $CardBorderColor: rgb(49, 49, 49);
  $CardBackground: rgba(224, 224, 224, 0.431);

  $DatePicker_Border: rgb(75, 75, 75);
  $DatePicker_DaySelect: rgb(97, 97, 97);
  $DatePicker_Header_Text: rgb(255, 255, 255);
  $DatePicker_LinkColor: rgb(214, 214, 214);
  $DatePicker_Disabled_Text: rgb(109, 109, 109);
  $DatePicker_Disabled: rgb(187, 187, 187);
  $DatePicker_Selected_Text: rgb(255, 255, 255);

  $Menu_Border:rgb(90, 90, 90);
  $Menu_Background:rgb(121, 118, 118);
  $Menu_SubBackground: rgba(255, 255, 255, 0.925);
  $Menu_SubBorder: rgba(107, 107, 107, 0.882);
  $Menu_SubText: rgb(0, 0, 0);
  $Menu_SubHover: rgba(49, 49, 49, 0.843);
  $Menu_SubTextHover: rgb(194, 189, 189);
  $Menu_SubSeparator: rgb(49, 49, 49);
  $Menu_SubDisabled: rgba(219, 218, 218, 0.753);
  $Menu_MenuSubOpen: rgba(94, 94, 94, 0.898);

  //------------------------------------------
   @import "./ThemeTree";
 }
 //-------------------------------------------