// ------------- Grey ------------------------
.PageLayoutColor_Grey {
  //-------------- Grey Colors ---------------
  $MainColor: #313131;
  $SecondaryColor: #a0a0a0;
  $MenuTextColor: #ffffff;
  $TextColor: #1d1d1d;
  $LinkColor: #4d4d4d;

  $Button: #4d4d4d;
  $Button_Text: #ffffff;
  $Button_Hover: #a0a0a0;
  $Button_Text_Hover: #ffffff;

  $Input_Border: #313131;
  $Input_Focus: #a0a0a0;

  $Table_Header_Text: #ffffff;

  $CardBorderColor: #313131;
  $CardBackground: #e0e0e06e;

  $DatePicker_Border: #4b4b4b;
  $DatePicker_DaySelect: #616161;
  $DatePicker_Header_Text: #FFFFFF;
  $DatePicker_LinkColor: #d6d6d6;
  $DatePicker_Disabled_Text: #6d6d6d;
  $DatePicker_Disabled: #BBBBBB;
  $DatePicker_Selected_Text: #FFFFFF;

  $Menu_Border:#5a5a5a;
  $Menu_Background:#797676;
  $Menu_SubBackground: #ffffffec;
  $Menu_SubBorder: #6b6b6be1;
  $Menu_SubText: #000000;
  $Menu_SubHover: #313131d7;
  $Menu_SubTextHover: #c2bdbd;
  $Menu_SubSeparator: #313131;
  $Menu_SubDisabled: #dbdadac0;
  $Menu_MenuSubOpen: #5e5e5ee5;

  //------------------------------------------
   @import "./ThemeTree";
 }
 //-------------------------------------------