// ------------ Orange -----------------------
.PageLayoutColor_Orange {
  //------------- Orange Colors --------------
  $MainColor: #ce4e1b;
  $SecondaryColor: #ec9f73;
  $MenuTextColor: #ffffff;
  $TextColor: #1d0b00;
  $LinkColor: #da5f19;

  $Button: #db581c;
  $Button_Text: #ffffff;
  $Button_Hover: #f89053;
  $Button_Text_Hover: #ffffff;

  $Input_Border: #c75919;
  $Input_Focus: #f89053;

  $Table_Header_Text: #ffffff;

  $CardBorderColor: #ce5d1b;
  $CardBackground: #ffeee080;

  $DatePicker_Border: #d8611d;
  $DatePicker_DaySelect: #e97e40;
  $DatePicker_Header_Text: #FFFFFF;
  $DatePicker_LinkColor: #fccbaf;
  $DatePicker_Disabled_Text: #4d3223;
  $DatePicker_Disabled: #ddb19a;
  $DatePicker_Selected_Text: #FFFFFF;

  $Menu_Border:#d85012;
  $Menu_Background:#ec9f73cc;
  $Menu_SubBackground: #fad4a8ec;
  $Menu_SubBorder: #e04f15e1;
  $Menu_SubText: #000000;
  $Menu_SubHover: #6b2c01;
  $Menu_SubTextHover: #ffab76;
  $Menu_SubSeparator: #ddb19a;
  $Menu_SubDisabled: #dbd7d7c0;
  $Menu_MenuSubOpen: #ffa33acc;

  //------------------------------------------
   @import "./ThemeTree";
 }
 //-------------------------------------------