// -------------- Pink ------------------------
.PageLayoutColor_Pink {
  //-------------- Pink Colors ----------------
  $MainColor: #9e0184;
  $SecondaryColor: #ff6bf8;
  $MenuTextColor: #ffffff;
  $TextColor: #200000;
  $LinkColor: #e838ff;

  $Button: #e919c6;
  $Button_Text: #ffffff;
  $Button_Hover: #ff6bf8;
  $Button_Text_Hover: #ffffff;

  $Input_Border: #9e0184;
  $Input_Focus: #ff6bf8;

  $Table_Header_Text: #ffffff;

  $CardBorderColor: #9e0184;
  $CardBackground: #faabf63f;

  $DatePicker_Border: #d105af;
  $DatePicker_DaySelect: #ce4fb9;
  $DatePicker_Header_Text: #FFFFFF;
  $DatePicker_LinkColor: #e49fd8;
  $DatePicker_Disabled_Text: #644a60;
  $DatePicker_Disabled: #da91cf;
  $DatePicker_Selected_Text: #FFFFFF;

  $Menu_Border:#e919c6;
  $Menu_Background:#ff6bf8cc;
  $Menu_SubBackground: #ffffffec;
  $Menu_SubBorder: #e919c6e1;
  $Menu_SubText: #000000;
  $Menu_SubHover: #faabf63f;
  $Menu_SubTextHover: #7a0266;
  $Menu_SubSeparator: #da91cf;
  $Menu_SubDisabled: #bbbbbbc0;

  //------------------------------------------
  @import "./ThemeTree";
}
//--------------------------------------------