// -------------- Red ------------------------
.PageLayoutColor_Red {
  //-------------- Red Colors ----------------
  $MainColor: #491111;
  $SecondaryColor: #a73f3f;
  $MenuTextColor: #ffffff;
  $TextColor: #200000;
  $LinkColor: #631717;

  $Button: #631717;
  $Button_Text: #ffffff;
  $Button_Hover: #a73f3f;
  $Button_Text_Hover: #ffffff;

  $Input_Border: #491111;
  $Input_Focus: #a73f3f;

  $Table_Header_Text: #ffffff;

  $CardBorderColor: #491111;
  $CardBackground: #fff5f54f;

  $DatePicker_Border: #801c1c;
  $DatePicker_DaySelect: #722525;
  $DatePicker_Header_Text: #FFFFFF;
  $DatePicker_LinkColor: #ee8787;
  $DatePicker_Disabled_Text: #351717;
  $DatePicker_Disabled: #eea0a0;
  $DatePicker_Selected_Text: #FFFFFF;

  $Menu_Border:#2b4949;
  $Menu_Background:#778899;
  $Menu_SubBackground: #FFFFFF;
  $Menu_SubBorder: #2b4949;
  $Menu_SubText: #000000;
  $Menu_SubHover: #008080;
  $Menu_SubTextHover: #c0fcfc;
  $Menu_SubSeparator: #778899;
  $Menu_SubDisabled: #BBBBBB;

  //------------------------------------------
  @import "./ThemeTree";
}
//--------------------------------------------