/*-------------- Red Colors ----------------*/
$MainColor_Red: #491111;
$SecondaryColor_Red: #a73f3f;
$MenuTextColor_Red: #ffffff;
$TextColor_Red: #200000;
$LinkColor_Red: #631717;

$Button_Red: #631717;
$Button_Text_Red: #ffffff;
$Button_Hover_Red: #a73f3f;
$Button_Text_Hover_Red: #ffffff;

$Input_Border_Red: #491111;
$Input_Focus_Red: #a73f3f;

$Table_Header_Text_Red: #ffffff;
/*------------------------------------------*/

/* -------------- Red --------------- */
.PageLayoutColor_Red {
    /* ---- General colors ---- */
  
    /* Page Selector */
    .PageSelector_Highlight {
      color: $LinkColor_Red;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    /* Page Selector */
  
    /* Load Spinner */
    .LoadSpinnerColor {
      border-top-color: $MainColor_Red;
      border-bottom-color: $MainColor_Red;
      border-left-color: $SecondaryColor_Red;
      border-right-color: $SecondaryColor_Red;
    }
    /* Load Spinner */
  
    /* Button Component */
    .page_button_color {
      border-color: $MainColor_Red;
      background: $Button_Red;
      color: $Button_Text_Red;
      &:hover {
        background: $Button_Hover_Red;
        color: $Button_Text_Hover_Red;
      }
      
      &:focus {
        box-shadow: 0 0 4px $Button_Red;
      }
    }
    /* Button Component */
  
    /* Input Text */
    .inputText_Color {
      border-color: $Input_Border_Red;
      &:focus {
        box-shadow: 0 0 3px $Input_Focus_Red;
      }
    }
    /* Input Text */
  
    /* ---- Menu and Footer Colors ---- */
    .PageMenuColor {
      background-color: $MainColor_Red;
      color: $MenuTextColor_Red;
    }
  
    /* ---- Content Colors ---- */
    .PageContentColor {
      /* -- All Content -- */
      color: $TextColor_Red;
    
      /* Table Component */
      .TableDiv {
        .TableContent {
          .TableHeaderCellColor {    
            background-color: $MainColor_Red;
            color: $Table_Header_Text_Red;
          }
        }
      }
      /* Table Component */
  
    }
  }
  /*------------------------------------*/