/*-------------------------------------------*/
/*--- Colors that are fixed on component ----*/
/*-------------------------------------------*/
/*--- Button Types ---*/
$Button_Confirmation_Main: #009c3c;
$Button_Confirmation_Secondary: #003300;
$Button_Confirmation_Text: #ffffff;
$Button_Confirmation_Text_Hover: #ffffff;

$Button_Warning_Main: #fab12a;
$Button_Warning_Secondary: #D75600;
$Button_Warning_Text: #000000;
$Button_Warning_Text_Hover: #ffffff;

$Button_Danger_Main: #df293b;
$Button_Danger_Secondary: #660202;
$Button_Danger_Text: #ffffff;
$Button_Danger_Text_Hover: #ffffff;

$Button_Cancelation_Main: #a8a8a8;
$Button_Cancelation_Secondary: #3b3b3b;
$Button_Cancelation_Text: #000000;
$Button_Cancelation_Text_Hover: #ffffff;

$Button_Information_Main: #1b73e6;
$Button_Information_Secondary: #02469e;
$Button_Information_Text: #ffffff;
$Button_Information_Text_Hover: #ffffff;
/*--- Button Types ---*/

/*----- ToolTip ------*/
$ToolTip_Default: #fce35a;
$ToolTip_Default_Text: #000000;

$ToolTip_Red: #ffa4a4;
$ToolTip_Red_Text: #660202;

$ToolTip_Green: #98FFC8;
$ToolTip_Green_Text: #003300;

$ToolTip_Blue: #a9e2ff;
$ToolTip_Blue_Text: #02469e;

$ToolTip_Yellow: #FFFD9B;
$ToolTip_Yellow_Text: #D75600;

$ToolTip_Grey: #708090;
$ToolTip_Grey_Text: #ffffff;
/*----- ToolTip ------*/

/*---- Text Input ----*/
$TextInputValid: #008000;
$TextInputInvalid: #f00000;
/*---- Text Input ----*/

/*------ Links -------*/
$EditLink: #0b6dff;
$EditLink_Hover: #0432ff;
$RemoveLink: #ff4343;
$RemoveLink_Hover: #ac1515;
/*------ Links -------*/

/*------ Table -------*/
$Table_Highlight_Even: #e7e7e7;
$Table_Highlight_Odd: #f7f5f5;
$Table_Border: #000000;
$Table_Border_Header: #708090;
/*------ Table -------*/

/*--- Page Header ----*/
$PageTitleError: #f00000;
/*--- Page Header ----*/

/* Card Fixed Colors */
$CardImageBackground: #969696;
$CardImageBorder: #969696;
$CardContentBorder: #cfcfcf;
$CardContentBackground: #ffffff;
$CardFooterText: #757575;
/* Card Fixed Colors */
/*-------------------------------------------*/
/*- End Colors that are fixed on component --*/
/*-------------------------------------------*/