//-------------------------------------------
//--- Colors that are fixed on component ----
//-------------------------------------------
//--- Page Generic ---
$Disabled_Text: rgb(117, 117, 117);
//--- Page Generic ---

//--- Button Types ---
$Button_Confirmation_Main: rgb(0, 156, 60);
$Button_Confirmation_Secondary: rgb(0, 51, 0);
$Button_Confirmation_Text: rgb(255, 255, 255);
$Button_Confirmation_Text_Hover: rgb(255, 255, 255);

$Button_Warning_Main: rgb(250, 177, 42);
$Button_Warning_Secondary: rgb(215, 86, 0);
$Button_Warning_Text: rgb(0, 0, 0);
$Button_Warning_Text_Hover: rgb(255, 255, 255);

$Button_Danger_Main: rgb(223, 41, 59);
$Button_Danger_Secondary: rgb(102, 2, 2);
$Button_Danger_Text: rgb(255, 255, 255);
$Button_Danger_Text_Hover: rgb(255, 255, 255);

$Button_Cancelation_Main: rgb(168, 168, 168);
$Button_Cancelation_Secondary: rgb(59, 59, 59);
$Button_Cancelation_Text: rgb(0, 0, 0);
$Button_Cancelation_Text_Hover: rgb(255, 255, 255);

$Button_Information_Main: rgb(27, 115, 230);
$Button_Information_Secondary: rgb(2, 70, 158);
$Button_Information_Text: rgb(255, 255, 255);
$Button_Information_Text_Hover: rgb(255, 255, 255);

$Button_Confirmation_Main_disabled: rgb(207, 231, 191);
$Button_Confirmation_Text_disabled: rgb(114, 114, 114);

$Button_Warning_Main_disabled: rgb(248, 225, 183);
$Button_Warning_Text_disabled: rgb(124, 124, 124);

$Button_Danger_Main_disabled: rgb(255, 184, 191);
$Button_Danger_Text_disabled: rgb(126, 126, 126);

$Button_Cancelation_Main_disabled: rgb(228, 228, 228);
$Button_Cancelation_Text_disabled: rgb(107, 107, 107);

$Button_Information_Main_disabled: rgb(204, 226, 255);
$Button_Information_Text_disabled: rgb(126, 126, 126);
//--- Button Types ---

//----- ToolTip ------
$ToolTip_Default: rgb(252, 227, 90);
$ToolTip_Default_Text: rgb(0, 0, 0);

$ToolTip_Red: rgb(255, 164, 164);
$ToolTip_Red_Text: rgb(102, 2, 2);

$ToolTip_Green: rgb(153, 255, 201);
$ToolTip_Green_Text: rgb(0, 51, 0);

$ToolTip_Blue: rgb(169, 226, 255);
$ToolTip_Blue_Text: rgb(2, 70, 158);

$ToolTip_Yellow: rgb(255, 253, 153);
$ToolTip_Yellow_Text: rgb(215, 86, 0);

$ToolTip_Grey: rgb(111, 128, 144);
$ToolTip_Grey_Text: rgb(255, 255, 255);
//----- ToolTip ------

//---- Text Input ----
$TextInputValid: rgb(0, 128, 0);
$TextInputValidBalloon: rgba(11, 201, 11, 0.767);
$TextInputInvalid: rgb(240, 0, 0);
$TextInputInvalidBalloon: rgba(255, 0, 0, 0.774);
//---- Text Input ----

//------ Links -------
$EditLink: rgb(11, 109, 255);
$EditLink_Hover: rgb(4, 50, 255);
$RemoveLink: rgb(255, 67, 67);
$RemoveLink_Hover: rgb(172, 21, 21);
//------ Links -------

//------ Table -------
$Table_Highlight_Even: rgb(231, 231, 231);
$Table_Highlight_Odd: rgb(247, 245, 245);
$Table_Border: rgb(0, 0, 0);
$Table_Border_Header: rgb(112, 128, 144);
//------ Table -------

//--- Page Header ----
$PageTitleError: rgb(240, 0, 0);
//--- Page Header ----

// Card Fixed Colors
$CardImageBackground: rgb(150, 150, 150);
$CardImageBorder: rgb(150, 150, 150);
$CardContentBorder: rgb(207, 207, 207);
$CardContentBackground: rgb(255, 255, 255);
$CardFooterText: rgb(117, 117, 117);
// Card Fixed Colors

// ScrollBar
$ScrollMain: rgba(156, 156, 156, 0.637);
$ScrollMainHover: rgb(109, 108, 108);
$ScrollBox: rgba(117, 117, 117, 0.616);
$ScrollBoxShadow: rgba(0, 0, 0, 0.39);
$ScrollBoxHover: rgb(184, 184, 184);
$ScrollMainBG: rgba(219, 219, 219, 0.603);
$ScrollMainBGHover: rgba(224, 224, 224, 0.863);
// ScrollBar

//-------------------------------------------
//- End Colors that are fixed on component --
//-------------------------------------------