/*
  Classes da App
*/
/* Loading */
.contentLoading {
  display: none;
  visibility: hidden;
}

.LoadingDiv {
  text-align: center;
}

.LoadingPadding 
{
  padding-top: 60px;
}

.LoaderText {
  padding-top: 10px;
}

.LoaderTextBig {
  padding-top: 15px;
  font-size: large;
  font-weight: bold;
}

.LoaderSpinner {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  width: 20px;
  height: 20px;
  margin-left: calc(50% - 14px);
  margin-right: calc(50% - 14px);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.BigSpinner {
  border-width: 8px;
  width: 40px;
  height: 40px;
  margin-left: calc(50% - 28px);
  margin-right: calc(50% - 28px);
}

.LoadSpinnerColor {
  border-top-color: darkslategray;
  border-bottom-color: darkslategray;
  border-left-color: lightslategray;
  border-right-color: lightslategray;
}

.LoadSpinnerColor_Blue {
  border-top-color: #062133;
  border-bottom-color: #062133;
  border-left-color: #447596;
  border-right-color: #447596;
}

.LoadSpinnerColor_Green {
  border-top-color: #08583e;
  border-bottom-color: #08583e;
  border-left-color: #469b80;
  border-right-color: #469b80;
}

.LoadSpinnerColor_Red {
  border-top-color: #491111;
  border-bottom-color: #491111;
  border-left-color: #a73f3f;
  border-right-color: #a73f3f;
}

.LoadSpinnerColor_Orange {
  border-top-color: #c45c20;
  border-bottom-color: #c45c20;
  border-left-color: #ec9f73;
  border-right-color: #ec9f73;
}

.LoadSpinnerColor_Grey {
  border-top-color: #313131;
  border-bottom-color: #313131;
  border-left-color: #a0a0a0;
  border-right-color: #a0a0a0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.center_menu_button {
  margin-left: calc( 50% - 88px );
  margin-right: calc( 50% - 88px );
}

.button_width {
  width: 150px;
}