@import "_ColorTheme";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, .KRFScroll {
  scrollbar-width: thin;
  scrollbar-color: $ScrollMain;
  &:hover {
    scrollbar-color: $ScrollMainHover;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $ScrollBoxShadow;
    border-radius: 5px;
    background-color: $ScrollMainBG;
    &:hover {
      background-color: $ScrollMainBGHover;
    }
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $ScrollMain;
    outline: 1px solid $ScrollBox;
    border-radius: 5px;
    &:hover {
      background-color: $ScrollMainHover;
      outline: 1px solid $ScrollBoxHover;
    }
  }
}

.KRFApp {
  // Component Styles Import
  @import "./Components/";

  // Main Styles Import
  @import "./Main/";
          
  // Themes Import
  @import "./Themes";

  // Pages Styles Import
  @import "./Pages/";
}