/* Input text config */
.inputText {    
    border-width: 1px;    
    border-style: solid;
    border-radius: 10px;
    height: 30px;
    min-width: 150px;
    width: calc( 100% - 32px );
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: block;    
}

/* theme colors*/
.inputText_Color {
    border-color: darkslategray;
}

.inputText_Color:focus {
    box-shadow: 0 0 3px teal;
}

.inputText_Color_Blue {
    border-color: #062133;
}

.inputText_Color_Blue:focus {
    box-shadow: 0 0 3px #092e47;
}

.inputText_Color_Red {
    border-color: #491111;
}

.inputText_Color_Red:focus {
    box-shadow: 0 0 3px #631717;
}

.inputText_Color_Green {
    border-color: #08583e;
}

.inputText_Color_Green:focus {
    box-shadow: 0 0 3px #0c6d4e;
}

.inputText_Color_Orange {
    border-color: #c45c20;
}

.inputText_Color_Orange:focus {
    box-shadow: 0 0 3px #d4601d;
}

.inputText_Color_Grey {
    border-color: #313131;
}

.inputText_Color_Grey:focus {
    box-shadow: 0 0 3px #4d4d4d;
}

/* validation colors */
.inputTextValid {
    border-color: green;
}

.inputTextValid:focus {
    box-shadow: 0 0 3px green;
}

.inputTextInvalid {
    border-color: red;
}

.inputTextInvalid:focus {
    box-shadow: 0 0 3px red;
}

/* validation text*/

.inputTextValidation {
    font-size: small;
    padding-left: 20px;
    width: calc( 100% - 20px );
    margin-top: 5px;
    display: block;
    position: relative;
}

.inputTextValidationValid {
    color: green;
}

.inputTextValidationInvalid {
    color: red;
}