@import "_ColorTheme";

.TableDiv {
    padding: 10px;
    display: block;
    width: calc( 100% - 20px );
}

.TableTitle {
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
    padding-bottom: 15px;
}

.TableContent {
    border: 2px solid $Table_Border;
    border-radius: 20px;
    display: table;
    width: calc( 100% - 4px );
}

.TableHeader {
    font-weight: bold;    
}

.TableRow {
    display: table-row;    
    width: calc( 100% - 10px );
}

.TableHeaderCell {
    display: table-cell;    
    border-left: 1px dotted $Table_Border_Header;
    border-bottom: 2px solid $Table_Border;
    padding: 10px;
    min-height: 25px;    
    text-align: center;
}

.TableHeaderCell:first-child {
    border-left: none;
    border-radius: 18px 0 0 0;
}

.TableHeaderCell:last-child {
    border-left: none;
    border-left: 1px dotted $Table_Border_Header;
    border-radius: 0 18px 0 0;
}

.TableCell {
    display: table-cell;
    padding: 15px 20px 15px 20px;
    min-height: 20px;
    border-left: 1px dotted $Table_Border;
    border-bottom: 1px solid $Table_Border;
}

.TableCell:first-child {
    border-left: none;
}

.TableRow:last-child .TableCell {
    border-bottom: none;
}

.TableCellRow {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.TableCellData {
    min-width: 100%;
    position: relative;
    display: inline-flex;
    flex-flow: column wrap;
    flex: 0 0 100%;
}

.TableCell_Clickable {
    cursor: pointer;
}

.TableCell_EditRemove_left {
    text-align: left;
    position: relative;
    display: inline-Flex;
    flex-flow: column;
    min-width: calc( 100% - 121px );
    flex: 0 0 calc( 100% - 121px );
}

.TableCell_EditRemove_right {
    text-align: right;
    position: relative;
    display: inline-flex;
    flex-flow: column;
    border-left: 1px dotted $Table_Border;
    margin-left: 10px;
    padding-left: 10px;
    min-width: 100px;
    flex: 0 0 100px;
}

.TableCellEditRemoveRow {
    text-align: left;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    min-width: 100%;
    flex: 0 0 100%;
}

.TableCellEditRemoveField {    
    display: inline-flex;
    flex-flow: column;
    position: relative;
    min-width: 50px;
    flex: 0 0 50px;
    color: $EditLink;
}

.TableCellEditRemoveField:hover
{
    color: $EditLink_Hover;
}

.TableRemoveField {
    text-align: right;
    color: $RemoveLink;
}

.TableRemoveField:Hover {    
    color: $RemoveLink_Hover;
}

.TableRowHighlight:nth-child( odd ) .TableCell {
    background-color: $Table_Highlight_Odd;
}

.TableRowHighlight:nth-child( even ) .TableCell {
    background-color: $Table_Highlight_Even;
}

.TableRowHighlight:last-child .TableCell.TableCell:first-child {
    border-radius: 0 0 0 18px;
}

.TableRowHighlight:last-child .TableCell.TableCell:last-child {
    border-radius: 0 0 18px 0;
}