.ToolTip {
    position: relative;
    display: inline-block;    
  }
  
.ToolTip .ToolTip_Text {
    visibility: hidden;
    min-width: 100px;
    background-color: #fce35a;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: small;
    position: absolute;
    z-index: 1;    
}

.ToolTip .ToolTip_Text:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fce35a;
}

.ToolTip .ToolTip_Text_Grey {
    background-color: slategrey;
    color: #fff;
}

.ToolTip .ToolTip_Text_Grey:after {
    border-color: slategrey;
}

.ToolTip .ToolTip_Text_Red {
    background-color: #ffa4a4;
    color: #660202;
}

.ToolTip .ToolTip_Text_Red:after {
    border-color: #ffa4a4;
}

.ToolTip .ToolTip_Text_Green {
    background-color: #98FFC8;
    color: #003300;
}

.ToolTip .ToolTip_Text_Green:after {
    border-color: #98FFC8;
}

.ToolTip .ToolTip_Text_Yellow {
    background-color: #FFFD9B;
    color: #D75600;
}

.ToolTip .ToolTip_Text_Yellow:after {
    border-color: #FFFD9B;
}

.ToolTip .ToolTip_Text_Blue {
    background-color: #a9e2ff;
    color: #02469e;
}

.ToolTip .ToolTip_Text_Blue:after {
    border-color: #a9e2ff;
}

.ToolTip .ToolTip_Text_Left {
    top: 5px;
    right: 108%;
    min-width: 100px;
}

.ToolTip .ToolTip_Text_Left:after {    
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 3px;
    right: -19px;
}

.ToolTip .ToolTip_Text_Right {
    top: 5px;
    left: 108%;
}

.ToolTip .ToolTip_Text_Right:after {
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 3px;
    left: -19px;
}

.ToolTip .ToolTip_Text_Top {
    bottom: 52px;
    left: 50%;
    margin-left: -40%;
}

.ToolTip .ToolTip_Text_Top:after {
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    bottom: -20px;
    left: calc( 50% - 10px );
}

.ToolTip .ToolTip_Text_Bottom {
    top: 52px;
    left: 50%;
    margin-left: -40%;
}

.ToolTip .ToolTip_Text_Bottom:after {
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    top: -20px;
    left: calc( 50% - 10px );
}

.ToolTip:hover .ToolTip_Text {
    visibility: visible;
    cursor: default;
}