.ButtonComponent {
    .page_button_color {
      border-color: $MainColor;
      background: $Button;
      color: $Button_Text;
      &:hover {
        background: $Button_Hover;
        color: $Button_Text_Hover;
      }
      &:focus {
        box-shadow: 0 0 10px $Button;
      }
    }
    .page_button_color_disabled {
      border-color: $MainColor;
      background: $Button_disabled;
      color: $Button_Text_disabled;
    }
}