.DropDownInput {

    .DropDownBox {
        border-color: $Menu_Border;
        background-color: $Menu_SubBackground;
        color: $TextColor;
        &:focus {
            box-shadow: 0 0 3px $Menu_Border;
        }

        &:hover .DropDownBox_Arrow {
            color: $LinkColor;
        }

        .DropDownBox_Arrow {
            border-left-color: $Menu_Border;
        }
    }

    .DropDownBoxOpen {
        background-color: $Menu_MenuSubOpen;
    }

    .DropDownBox_List {
        color: $TextColor;
        border-color: $Menu_Border;
        background-color: $Menu_SubBackground;
        .DropDownBox_Item {
            border-top-color: $Menu_SubSeparator;
            &:hover {
                background-color: $Menu_SubHover;
                color: $Menu_SubTextHover;
            }
            &:focus {
                background-color: $Menu_SubHover;
                color: $Menu_SubTextHover;
            }
        }

        .DropDownBox_Item_Selected {
            background-color: $Menu_SubDisabled;
            color: $TextColor;
            &:hover {
                background-color: $Menu_SubDisabled;
                color: $TextColor;
            }
        }

        &::after {
            border-bottom-color: $Menu_Border;
        }
    }
}