// ------------ Default ----------------------
.PageLayoutColor {
 //------------- Default Colors --------------
  $MainColor: rgb(47, 79, 79);
  $SecondaryColor: rgb(119, 136, 153);
  $MenuTextColor: rgb(255, 255, 255);
  $TextColor: rgb(0, 0, 0);
  $LinkColor: rgb(0, 128, 128);

  $Button: rgb(0, 128, 128);
  $Button_Text: rgb(255, 255, 255);
  $Button_Hover: rgb(119, 136, 153);
  $Button_Text_Hover: rgb(255, 255, 255);

  $Input_Border: rgb(47, 79, 79);
  $Input_Focus: rgb(0, 128, 128);

  $Table_Header_Text: rgb(255, 255, 255);

  $CardBorderColor: rgb(47, 79, 79);
  $CardBackground: rgba(219, 254, 255, 0.204);

  $DatePicker_Border: rgb(43, 73, 73);
  $DatePicker_DaySelect: rgb(43, 92, 92);
  $DatePicker_Header_Text: rgb(255, 255, 255);
  $DatePicker_LinkColor: rgb(122, 182, 182);
  $DatePicker_Disabled_Text: rgb(109, 109, 109);
  $DatePicker_Disabled: rgb(187, 187, 187);
  $DatePicker_Selected_Text: rgb(255, 255, 255);

  $Menu_Border:rgb(43, 73, 73);
  $Menu_Background:rgba(119, 136, 153, 0.8);
  $Menu_SubBackground: rgba(255, 255, 255, 0.925);
  $Menu_SubBorder: rgba(1, 39, 39, 0.882);
  $Menu_SubText: rgb(0, 0, 0);
  $Menu_SubHover: rgba(0, 128, 128, 0.843);  
  $Menu_SubTextHover: rgb(192, 252, 252);
  $Menu_SubSeparator: rgb(119, 136, 153);
  $Menu_SubDisabled: rgba(187, 187, 187, 0.753);
  $Menu_MenuSubOpen: rgba(88, 160, 150, 0.678);
  $Menu_NotificationBg:rgba(168, 206, 207, 0.959);
  $Menu_NotificationBgNew:rgba(105, 187, 187, 0.952);

  $BalloonBackground: rgb(178, 218, 212);

//------------------------------------------
  @import "../ThemeTree";
}
//------------------------------------------