.BadgeComponent {
    .BadgeComponentColor_Default {
      background-color: $Button;
      border-color: $Button_Hover;
      color: $Button_Text;
    }
    .BadgeComponentColorClick_Default {
      &:hover {
        background-color: $Button_Hover;
        color: $Button_Text_Hover;
      }
    }
}