.BalloonComponent {
    .Balloon {
      background-color: white;
      border-color: $MainColor;
      color: $TextColor;
      &:after {
        border-color: $MainColor;
      }
    }    
    .BalloonClose {
      & :hover {
          color: $LinkColor;
      }
    }

    .Balloon_Default {
      background-color: $BalloonBackground;
      border-color: $MainColor;
      color: $MainColor;
      &:after {
        border-color: $MainColor;
      }
    }

    .Balloon_Danger {
      background-color: $Button_Danger_Main;
      border-color: $Button_Danger_Secondary;
      color: $Button_Danger_Text;
      &:after {
        border-color: $Button_Danger_Secondary;
      }
    }

    .Balloon_Information {
      background-color: $Button_Information_Main;
      border-color: $Button_Information_Secondary;
      color: $Button_Information_Text;
      &:after {
        border-color: $Button_Information_Secondary;
      }
    }

    .Balloon_Warning {
      background-color: $Button_Warning_Main;
      border-color: $Button_Warning_Secondary;
      color: $Button_Warning_Text;
      &:after {
        border-color: $Button_Warning_Secondary;
      }
    }

    .Balloon_Confirmation {
      background-color: $Button_Confirmation_Main;
      border-color: $Button_Confirmation_Secondary;
      color: $Button_Confirmation_Text;
      &:after {
        border-color: $Button_Confirmation_Secondary;
      }
    }

    .Balloon_Cancelation {
      background-color: $Button_Cancelation_Main;
      border-color: $Button_Cancelation_Secondary;
      color: $Button_Cancelation_Text;
      &:after {
        border-color: $Button_Cancelation_Secondary;
      }
    }
}