.DatePickerDiv {
    min-width: 257px;
    max-width: 257px;
    margin: 5px;
    position: relative;
    display: flex;
    .DatePickerCalendar {
        display: block;
        box-sizing: border-box;
        min-width: 247px;
        max-width: 247px;
        border: 1px solid;
        border-radius: 10px;
        background-clip: padding-box;
        .DatePickerRow {
            box-sizing: border-box;
            display: block;
            &:first-child {
                border-radius: 10px 10px 0 0;
            }
            .DatePickerDay{
                display: inline-block;        
                padding: 5px;
                width: 35px;
                box-sizing: border-box;
                text-align: center;
            }
            .DatePickerWeek{
                font-size: small;
            }
            .DatePickerMonth {            
                max-width: 60%;
                min-width: 60%;
                .DatePickerSelector {
                    margin-left: calc( -50% + 20px );
                }
            }
            .DatePickerHeader {
                display: inline-block;
                .DatePickerArrow {
                    width: 20px;
                    display: inline-block;
                }
                .DatePickerText {
                    width: calc( 100% - 40px );
                    display: inline-block;
                }
                .DatePickerSelector {
                    z-index: 10;
                    position: absolute;
                    left: 50%;
                    max-height: 180px;
                    overflow-y: scroll;
                    border: solid 2px;
                    border-radius: 10px 0 0 10px;
                    top: 28px;
                    animation: openDatePickerSelector 0.3s ease;
                    .DatePickerSelectorField {
                        box-sizing: border-box;
                        padding: 4px 10px;
                        &:hover {
                            transition: background-color 0.3s ease;
                          }
                    }
                }
            }
            .DatePickerYear {
                max-width: 40%;
                min-width: 40%;
                .DatePickerSelector {
                    margin-left: calc( -50% + 170px );
                }
            }


            .DatePickerSelected {
                font-weight: bold;
            }

            &:first-child {
                .DatePickerDay {
                    &:last-child {
                        border-radius: 0 10px 0 0;
                    }
                    &:first-child {
                        border-radius: 10px 0 0 0;
                    }
                }
            }
            &:last-child {
                .DatePickerDay {
                    &:last-child {
                        border-radius: 0 0 10px 0;
                    }
                    &:first-child {
                        border-radius: 0 0 0 10px;
                    }
                }
            }
        }
    }

    .DatePickerInputGroup {
        border: 1px solid;
        border-radius: 10px;
        padding: 1px 2px 1px 10px;
        .DatePickerInput {
            width: 35px;
            padding: 3px;
            margin: 4px;
            border: 0px;
            border-bottom: 1px dotted;
            text-align: center;            
        }
        .DatePickerInputDisabled {
            cursor: default;
            color: transparent;
            border-bottom: 1px transparent;
            text-shadow: 0 0 $Disabled_Text;
            &:focus {
                outline: none;
            }
        }
        .DatePickerButton {
            text-align: right;
            margin-left: 7px;
            padding-left: 12px;
            padding-right: 12px;
            border-left: solid 1px;
            display: inline-block;
            height: 100%;
            padding-top: 5px;
            box-sizing: border-box;
        }
    }

    .DatePickerCalendarNotVisible {
        position: absolute;
        left: 5%;
        top: 32px;
        z-index: 10;
        animation: openDatePickerSelector 0.3s ease;
        .DatePickerRow {
            .DatePickerHeader{
                .DatePickerSelector {
                    left: 47%;
                    top: 28px;
                }
            }
        }
    }
    @keyframes openDatePickerSelector {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
      }
}